:root {
  --primary-text-color: #434455;
  --headers-text-color: #2e2f42;
  --footer-main-text-color: #e7e9fc;
  --active-color: #4d5ae5;
  --btn-active-color: #404bbf;
  --primary-white-color: #ffffff;
  --btns-color: #f4f4fd;
}

/* Reset */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1158px;
  outline: 2px solid tomato;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header-container {
  display: flex;
  /* або можливо через margin-right: auto  */
  justify-content: space-between;
  border-bottom: 1px solid var(--footer-main-text-color);
}

.page-header-nav {
  display: flex;
  align-items: center;
  /* margin-right: auto; */
}

.site-nav {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  gap: 40px;
}

.contacts {
  display: flex;
  gap: 40px;
}

.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--active-color);
}
.logo-part-header {
  color: var(--headers-text-color);
}

.site-nav-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--headers-text-color);
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--btn-active-color);
}

.feedback {
  display: flex;
  font-style: normal;
  align-items: center;
}

.contacts-item-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contacts-item-link:hover,
.contacts-item-link:focus {
  color: var(--btn-active-color);
}

/* Main */
/* Hero */

/* .hero-container {
  padding-top: 188px;
  padding-bottom: 188px;
} */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-color: var(--headers-text-color);
}
.hero-title {
  max-width: 496px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}
.hero-btn {
  padding: 16px 32px;
  border-radius: 4px;
  display: inline-block;
  margin: 48px auto 0;
  min-width: 169px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  cursor: pointer;
  background-color: var(--active-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--btn-active-color);
}

/* Technologies */

.products-item {
  width: calc((100% - 48px) / 3);
}

.techno-title {
  padding-top: 120px;
}

.products-list {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
  margin-top: 72px;
}

.block-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headers-text-color);
}

.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Skills */

.skills-list-title {
  margin-bottom: 8px;
}

.skills-list {
  display: flex;
  gap: 24px;
  padding-top: 120px;
}

.skills-list-item {
  width: calc((100% - 72px) / 4);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headers-text-color);
}

/* Team */

.team-item-descr {
  padding: 32px 16px;
  text-align: center;
}

.team-title {
  padding-top: 120px;
  /* padding-bottom: 72px; */
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}

.team-item-title,
.team-item-text {
  text-align: center;
}

.team {
  background-color: var(--btns-color);
}
.team-list-item {
  width: calc((100% - 72px) / 4);
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
}
/* Footer */

.footer-container > .logo {
  padding-top: 100px;
}

.vision {
  background-color: var(--headers-text-color);
}
.vision-text {
  max-width: 264px;
  color: var(--footer-main-text-color);
  padding-bottom: 100px;
  margin-top: 16px;
}
.logo-part-footer {
  color: var(--btns-color);
}

/* Portfolio */

/* Filter */

.filter-list {
  display: flex;
}

.filter-nav {
  font-family: inherit;
  background-color: var(--btns-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--active-color);
  cursor: pointer;
}

.filter-nav:hover,
.filter-nav:focus {
  background-color: var(--btn-active-color);
  color: var(--primary-white-color);
}

/* Porfolio items */
.portfolio.item {
  width: calc((100% - 192px) / 8);
}

.portfolio-item-descr {
  padding: 32px 0 32px 16px;
  border: 1px solid var(--footer-main-text-color);
  border-top: 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item-text {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
